<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>操作失败提示</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script language="javascript" th:src="@{/script/jquery.js}"></script>
    <script language="javascript" th:src="@{/script/pageCommon.js}" charset="utf-8"></script>
    <script language="javascript" th:src="@{/script/PageUtils.js}" charset="utf-8"></script>
    <script language="javascript" th:src="@{/script/DemoData.js}" charset="utf-8"></script>
    <script language="javascript" th:src="@{/script/DataShowManager.js}" charset="utf-8"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/style/blue/pageCommon.css}" />
    <script type="text/javascript">
    </script>
</head>
<body>

<!-- 标题显示 -->
<div id="Title_bar">
    <div id="Title_bar_Head">
        <div id="Title_Head"></div>
        <div id="Title"><!--页面标题-->
            <img border="0" width="13" height="13" th:src="@{/style/images/title_arrow.gif}"/> 提示
        </div>
        <div id="Title_End"></div>
    </div>
</div>

<!--显示内容-->
<div id=MainArea>
    <div style="margin: 30px; font-size: 16px; text-align: center;">
        操作失败，请稍后尝试！<br /><br /><br />
        <a href="javascript:history.go(-1);"><img th:src="@{/style/images/goBack.png}"/></a>
    </div>
</div>

</body>
</html>
